<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Deepa Deva/TestNGDEMOS/src/TestNGExamples">
        <classes>
            <class name="TestNGExamples.Case_1"/>

           <class name="TestNGExamples.Case_2"/>
        </classes>
    </test>
</suite>